*{
    margin: 0;
    padding: 0;
    border: 0%;
    font-family: sans-serif;
    overflow-x: hidden;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}
.navigation{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 1), transparent);
    z-index: 100;
    
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    animation-delay: 1s;
    font-family: 'Rampart One', cursive;
}
.nav-menu ul{
    display: flex;
    list-style-type: none;
    animation-delay: 1s;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background: rgb(107,107,107);
    background: linear-gradient(180deg, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%, rgba(255,0,206,0.8155637254901961) 100%);
    margin-top: 15vh;
    bottom: 0;
    overflow-x: hidden;
    

}
.img-gallery{
    width: 100%;
    align-items:center;
    margin: 0 auto;
    margin-top: 1in;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    margin-bottom: 0;
    margin: 0 0 0 55px;
    overflow: hidden;
}
.img-gallery img{
    width: 50%;
    cursor: pointer;
    border: 5px solid black;
    padding: 5vh;
    box-sizing: border-box;
}
.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68,77,136, 0.2);
}
.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}