@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ramabhadra', sans-serif;
    overflow: hidden;
}

body{
    
    background: linear-gradient(to right, #000000, #464242, #024b66, #004938);
    background-size: 200% 200%;
    background-position: 10% 50%;
    animation: gradient 7s ease infinite;
    background-repeat: no-repeat;
    border: solid #000 1px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.thanks{
    margin: 35vh 0 0 75vh;
    width: clamp(300px, 90vw, 500px);
    background-color: #fff;
    padding: clamp(1.5rem, 100vw, 3rem);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
    border-radius: .5em;
    position: relative;
}

.content-thanks h1{
    margin: 0 0 0 35vh;
    display: inline-flex;
    margin: 0vh 0 0vh 0;
}

.content-thanks a{
    position: absolute;
    color: red;
    text-decoration: none;
}